
<p align="center">
    <a href="https://travis-ci.org/hidevopsio/hiboot?branch=master">
        <img src="https://travis-ci.org/hidevopsio/hiboot.svg?branch=master" alt="Build Status"/>
      </a>
    
      <a class="badge-align" href="https://www.codacy.com/app/john-deng/hiboot?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=hidevopsio/hiboot&amp;utm_campaign=Badge_Grade"><img src="https://api.codacy.com/project/badge/Grade/ee8ddbf56ece4f46a6efeb216c351a0f"/></a>
    
      <a href="https://github.com/hidevopsio/hiboot">
        <img src="https://tokei.rs/b1/github/hidevopsio/hiboot" />
      </a>
    
      <a href="https://codecov.io/gh/hidevopsio/hiboot">
        <img src="https://codecov.io/gh/hidevopsio/hiboot/branch/master/graph/badge.svg" />
      </a>
    
      <a href="https://opensource.org/licenses/Apache-2.0">
          <img src="https://img.shields.io/badge/License-Apache%202.0-green.svg" />
      </a>
    
      <a href="https://goreportcard.com/report/hidevops.io/hiboot">
          <img src="https://goreportcard.com/badge/hidevops.io/hiboot" />
      </a>
    
      <a href="https://godoc.org/hidevops.io/hiboot">
          <img src="https://godoc.org/github.com/golang/gddo?status.svg" />
      </a>
    
      <a href="https://gitter.im/hidevopsio/hiboot">
          <img src="https://img.shields.io/badge/GITTER-join%20chat-green.svg" />
      </a>
</p>
      